@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #030712;
  color: white;
  overflow-x: hidden;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #030712;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
